<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Comment</h1>
    <h2>Comment ID</h2>
    <div><%= comment.id %></div>
    <h2>Comment Text</h2>
    <div><%= comment.comment %></div>
    <div><b>By</b> <%= comment.username %></div>
    <br>
    <a href="/comments/<%= comment.id %>/edit">edit</a>
    <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
        <button>Delete</button>
    </form>
    <a href="/comments">Back to Index</a>
</body>
</html>